/* Basic styling for the landing page */
body {
    /* Background adjustments */
    background-image: url("images/catastronaut.jpg"); /* Confirm this path is correct */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-attachment: fixed; /* Keeps background fixed when scrolling */
    background-color: #000000; /* Fallback color for background */

    /* Text and layout basics */
    color: white;
    font-family: 'Arial', sans-serif; /* Keep Arial as a fallback, we'll refine font later */
    line-height: 1.6; /* Improved readability for paragraphs */

    /* Content width and spacing */
    max-width: 960px; /* Allows content to shrink on smaller screens */
    margin: 0 auto;   /* Centers the content horizontally */
    padding: 20px;    /* Adds padding around the content, crucial for mobile */
    box-sizing: border-box; /* Include padding and border in element's total width/height */
}
img {
    max-width: 100%; /* Ensures images never overflow their parent container */
    height: auto;    /* Maintains the image's aspect ratio */
    display: block;  /* Helps with layout and removes extra space below images */
}
/* Styles for screens up to 768 pixels wide (e.g., mobile devices) */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .landing-image {
     max-width: 100%;
    /* Modify styles for the landing image container */
  }
  /* Add more styles for other elements as needed */
}

.landing-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/pughjoepugh/MeowMeowDrinkTime/82312e5398c173b1b9598cecedca99dea239803d/images/landing-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: #ffffff;
  font-size: 6px;

}
/* Styling for the navigation menu */
.menu-button {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  background-color: transparent;
  color: #ff53acd8;;
  border: none;
  cursor: pointer;
  font-size: 45px;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #000000;
  color: #ff53acd8;;
  padding: 20px;
  z-index: 9999;
}

.menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown li {
  margin-bottom: 20px;
}

.menu-dropdown a {
  color: #ff53acd8;
  text-decoration: none;
}

/* Styling for the footer */
.footer {
  background-color: black;
  font-family: 'Pacifico', cursive;
  font-size: 22px; /* Adjust the font size as needed */
  color: #ff53acd8; /* Change the text color to white */
  padding: 20px;
  text-align: center;

}
